.etiq-cate {
  flex: 1;
  position: relative;
  height: 35px;

  background-size: cover;
  background-position: center;

  border-radius: 15px;
  overflow: hidden;

  text-decoration: none;
  background-color: rgb(23, 23, 97);
  color: rgb(231, 231, 231);

  font-size: 0.9rem;

  transition: transform 0.3s ease;
}