.home-container {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 80vh;
}

/* Contenedor de botones */
.buttons-wrapper {
  gap: 20px;
  padding: 10px
}

/* Botones tipo card */
.menu-btn {
  flex: 1;
  position: relative;
  height: 500px;

  background-size: cover;
  background-position: center;

  border-radius: 15px;
  overflow: hidden;

  text-decoration: none;
  color: white;

  font-size: 2.5rem;
  font-weight: bold;

  transition: transform 0.3s ease;
}

/* Hover */
.menu-btn:hover {
  transform: scale(1.05);
}

/* Overlay oscuro */
.menu-btn .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Texto encima */
.menu-btn strong {
  position: relative;
  z-index: 2;
}

/* Hover más elegante */
.menu-btn:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}

/* Móvil: columna */
@media (max-width: 768px) {
  .buttons-wrapper {
    flex-direction: column;
  }

  .menu-btn {
    height: 200px;
    font-size: 2.5rem;
  }
}