<div class="container-fluid py-4 align-items-center justify-content-center"
    style="background-color: #97a5b6">
    <div class="container align-items-center justify-content-center"
        style="background-color: #97a5b6">
        <h2 class="fs-1 fw-bold">Iniciar Sesión</h2>

        <form #formContact="ngForm" (ngSubmit)="processForm(formContact)">
            <div class="mb-3">
                <label class="form-label fw-bold">Correo Electrónico</label>
                <input type="email"
                    class="form-control"
                    name="correo"
                    ngModel
                    required
                    email
                    placeholder="Ejemplo: clienteDiamante@gmail.com"
                    #correo="ngModel">
            </div>
            <div *ngIf="correo.invalid && correo.touched" class="text-danger">
                <small *ngIf="correo.errors?.['required']">
                    *correo electrónico obligatorio
                </small>
                <small *ngIf="correo.errors?.['email']">
                    *correo electrónico inválido
                </small>
            </div>

            <div class="mb-3">
            <label class="form-label fw-bold">Contraseña</label>
            <input type="password"
                class="form-control"
                name="clave"
                ngModel
                required
                minlength="6"
                placeholder="Ingrese su contraseña (favor de no compartirla)"
                #clave="ngModel">
            </div>
            <div *ngIf="clave.invalid && clave.touched" class="text-danger">
                <small *ngIf="clave.errors?.['required']">
                    *contraseña obligatoría
                </small>
                <small *ngIf="clave.errors?.['minlength']">
                    *contraseña inválida (mínimo 6 carácteres)
                </small>
            </div>

            <button class="btn" type="submit" style="background-color: #4894a7">
                Iniciar sesión
            </button>
            <a class="btn text-decoration-underline" 
                routerLink="/signup">
                <small>Aún no tengo cuenta</small>
            </a>
        </form>
    </div>

    <div class="modal fade" id="modalResult" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{ tituloModal }}
                    </h5>
                    <button class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    <p>{{ mensajeModal }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

