body{
  min-height: 100vh;
  flex-direction: column;
}

app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1;
  background-color: var(--bg);
  color: var(--text);
}

.top-shell {
  background: var(--navbar-bg);
}
