body{
  min-height: 100vh;
  flex-direction: column;
}

.app-shell {
  background: var(--footer-bg);
  color: var(--footer-text);
}

app-root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content{
  flex: 1;
  background: var(--bg-color);
  color: var(--text-color);
}
