<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="images/logo_igneous_code.png" 
                alt="Logo"
                width="30" 
                height="30"
                class="d-inline-block rounded-circle">
        </a>
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-white" 
                        aria-current="page" 
                        routerLink="/">
                        <strong>Inicio</strong>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white"
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <strong>Catálogo</strong>
                    </a>
                    <ul class="dropdown-menu" style="background-color: #1d1d1d;">
                        <li>
                            <a class="dropdown-item text-white"
                                routerLink="/catalogo">
                                Catálogo general
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white"
                                routerLink="/secc_oro">
                                Categoría de oro
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white" 
                                routerLink="/secc_plt">
                                Categoría de plata
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white"
                                routerLink="/secc_ext">
                                Otras categorías
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white"
                        role="button" 
                        data-bs-toggle="dropdown" 
                        aria-expanded="false">
                        <strong>Inventario</strong>
                    </a>
                    <ul class="dropdown-menu" style="background-color: #1d1d1d;">
                        <li>
                            <a class="dropdown-item text-white"
                                routerLink="/admin/products">
                                Listado de productos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-white"
                                routerLink="/admin/create-stock">
                                Publicar producto
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" 
                        aria-current="page" 
                        routerLink="/acerca_de">
                        <strong>Acerca de</strong>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <a class="navbar-brand">
                    <img src="images/logo_igneous_code.png" 
                        alt="Image Invitado"
                        width="30" 
                        height="30"
                        class="d-inline-block rounded-circle">
                </a>
                <li class="nav-item">
                    <a class="nav-link active text-white" 
                        aria-current="page" 
                        routerLink="/profile">
                        <strong>Administrador</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
